.income {
  height: 50px;
  border: 1px solid gray;
  background-color: yellowgreen;
  padding: 10px;
}
.incomedesription {
  color: white;
  font-size: 30px;
  font-weight: 600;
  float: left;
}
.incomeamount {
  color: white;
  font-size: 30px;
  font-weight: 600;
  float: right;
}
.expense {
  height: 50px;
  border: 1px solid gray;
  background-color: red;
  padding: 10px;
}
.expensedesription {
  color: white;
  font-size: 30px;
  font-weight: 600;
  float: left;
}
.expenseamount {
  color: white;
  font-size: 30px;
  font-weight: 600;
  float: right;
}
.width50 {
  width: 50%;
  display: inline-block;
}
.btn {
  height: 50px;
  width: 100%;
}
.modal {
  text-align: center;
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
  font-size: 20px;
  font-weight: bold;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: rgb(255, 65, 65);
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #ff1010;
  cursor: pointer;
}
.disBlock {
  display: block;
}
